[submodule "vim/vim/bundle/command-t"]
	path = vim/vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/json"]
	path = vim/vim/bundle/json
	url = https://github.com/felixhummel/vim-json.git
[submodule "vim/vim/bundle/salt"]
	path = vim/vim/bundle/salt
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/vim/bundle/sahara"]
	path = vim/vim/bundle/sahara
	url = https://github.com/felixhummel/sahara
[submodule "vim/vim/bundle/ultisnips"]
	path = vim/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/vim/bundle/vim-snippets"]
	path = vim/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/vim/bundle/yaml"]
	path = vim/vim/bundle/yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "vim/vim/bundle/editorconfig"]
	path = vim/vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/vim/bundle/jinja"]
	path = vim/vim/bundle/jinja
	url = https://github.com/lepture/vim-jinja.git
