snippet lia "list link" w
<li><a href="${1}">$1</a></li>
endsnippet

snippet as "Link to self" w
<a href="${1}">$1</a>
endsnippet

snippet divi "<div> with id" w
<div id="$1">
	$0
</div>
endsnippet

snippet fav "add favicon" w
<link rel="shortcut icon" href="${1:favicon.png}"/>
endsnippet
