snippet ifmain
if __name__ == '__main__':
    $1
endsnippet

snippet #!
#!/usr/bin/env python

endsnippet

snippet log
import logging

logging.basicConfig(level=os.environ.get('LOGLEVEL', 'WARNING').upper())
log = logging.getLogger()

endsnippet
