snippet ifmain
if __name__ == '__main__':
    $1
endsnippet

snippet #!
#!/usr/bin/env python

endsnippet

snippet log
import logging
import os

logging.basicConfig(level=os.environ.get('LOGLEVEL', 'INFO').upper())
log = logging.getLogger()

endsnippet
