snippet set
set -euo pipefail
endsnippet

snippet ft
# vim: set ft=sh :
endsnippet

# see UltiSnips-character-escaping
snippet here
here="\$(readlink -m \$(dirname \$0))"
endsnippet

snippet die
die() { echo "$@" 2>&1; exit 1; }
endsnippet

snippet log
log() { echo "$@" 2>&1; }
endsnippet

snippet l
log "$1"
endsnippet
